extends ./layout.pug
include ./mixins.pug

block title
  title Homepage

block body
  if page == "Product Page"
    h1#header(style={color:"green"}) WELCOME TO THE Product HOMEPAGE

    ul.products
      +productList(result)
  else
    h1#header(style={color:"green"}) WELCOME TO THE Article HOMEPAGE

    ul.products
      +articleList(result)